.nav-item > .nav-link{
    color: #506690;
    font-weight: 500;
    margin: 0 20px;
    font-size: 19px;
}
.text-h {
    color: #869ab8;
}
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.ms-auto {
    margin-left: auto;
}
.py-md-11 {
    margin-top: 40px;
    padding-top: 30px;
}
h3 {
    line-height: 1.4;
    font-size: 1.3125rem;

}
.text-gray-600 {
    color: #869ab8;
}
.h3-h {
    font-weight: 400;
    font-size: 1.3125rem;
}
.px-5-h {
    padding-right: 9rem!important;
    padding-left: 9rem!important;
}
